@import "tailwindcss";

@keyframes shimmer {
  0% { background-position: -1000px 0; }
  100% { background-position: 1000px 0; }
}

.animate-shimmer {
  background: linear-gradient(to right, #f6f7f8 8%, #edeef1 18%, #f6f7f8 33%);
  background-size: 1000px 100%;
  animation: shimmer 2s infinite linear;
}

.animate-shimmer-purple {
  background: linear-gradient(to right, #bdc3c7 8%, #dce0e2 18%, #bdc3c7 33%);
  background-size: 1000px 100%;
  animation: shimmer 2s infinite linear;
}

html {
  scroll-behavior: smooth;
}

button{
    cursor: pointer;
}
button:disabled{
    cursor: not-allowed;
}